.input_fields { color:black;}

h1 { color:navy; }
body { margin: 2em auto; width: 50em;
                  padding: 0.8em; background: white; background-image: url("mount.jpg");background-size: cover;
}


.stories {
    border:1px solid black;

}
table, th, td {
    background-color:rgba(80,80,80,0.6);
}
th {
    width:60px
}

.create {
			display: block; padding: 10px 20px;
		color: #757575; text-decoration: none;

	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;

}
.entry {
    text-align: start;
    height: 100px;
    width: 300px;
}

.box1 {background-color:rgba(80,80,80,0.6);
        padding-top:10px;
    background-clip: content-box;
    width:500px;

}
.box2 {
    background-color:rgba(169,169,169,0.6);
        padding-top:10px;
background-clip: content-box;
    width:500px;}

.box3 {
    background-color: rgba(220,220,220,0.6);
            padding-top:10px;
    background-clip: content-box;
        width:500px;

}
.box4 {background-color: rgba(119,136,153,0.6);
        padding-top:10px;
background-clip: content-box;
    width:500px;}

.box5 {background-color: rgba(112,128,144,0.6);
        padding-top:10px;
background-clip: content-box;
    width:500px;}

.box6 {background-color: rgba(47,79,79,0.6);
        padding-top:10px;
background-clip: content-box;
    width:500px;}

p {
    padding-top: 10px;
}
#navbar_what {
    background-color: darkgrey;
}


